MARIADB_DATABASE_NAME=db_name
MARIADB_USER_FILE=../secrets/m_db_user_name
MARIADB_PASSWORD_FILE=../secrets/m_db_user_pwd

# cron string of the back up frequency
# CRON_STRING=
# Remote location of the backup
REMOTE_USER=backup-main
REMOTE_HOST=
REMOTE_PATH=/home/ctlup_user/db_backups_test
REMOTE_SSH_PORT=22

BACKUP_FILE_PREFIX=project_name_
PROJECT_NAME=test_project
RECEIVING_SCRIPT_LOCATION=/home/backup-main/receive-backup.sh

# Specify here the DB container NAME displayed after executing 'docker compose ps' command
# As an alternative, you can specify 'DB_SERVICE_NAME' that is used in docker-compose.yaml
# In the latter case, the script will try to find the docker container NAME automatically
DB_CONTAINER_NAME=
DB_SERVICE_NAME=wordpress-db-service

## Email variables:
EMAIL_SMTP_ADDRESS=
EMAIL_SMTP_PORT=
EMAIL_FROM_NAME="CTL Backup Script"
EMAIL_FROM_ADDRESS=
EMAIL_RECIPIENTS_ADDRESS_LIST=("user@test.com" "user2@test.com")
EMAIL_AUTH_USER_NAME=
EMAIL_AUTH_USER_PASSWORD=